/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col"] {
  color: white;
  text-align: center;
  /* debug */
  border: 1px solid black;
}

/* HEADER */

header [class*="col"] {
  min-height: 70px;
  background-color: rgb(44 62 80);
}

/* debug caselle */

section [class*="col"] {
  min-height: 200px;
}

/* MAIN */

.ms_jumbo {
  min-height: 400px;
  background-color: rgb(26 188 156);
}

.ms_title_white {
  min-height: 150px;
  background-color: white;
}

.ms_caselle {
  min-height: 500px;
  background-color: white;
}

.ms_about {
  min-height: 250px;
  background-color: rgb(26 188 156);
}

.ms_contact {
  min-height: 400px;
  background-color: white;
}

.ms_title_green {
  min-height: 150px;
  background-color: rgb(26 188 156);
}

/* FOOTER */

.ms_info {
  min-height: 250px;
  background-color: rgb(58 84 109);
}

.ms_copyright {
  min-height: 50px;
  background-color: rgb(44 62 80);
}
